<!DOCTYPE html>
<html>
<head>
  <title>SuperUpload</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/css/uploader.css" />
  <script type="text/javascript" src="/js/uploader.js?rand="<%= @transfer_id %>></script>
</head>
<body>

  <h1>SuperUpload</h1>
  
  <form id="upload_form" name="upload_form" action="upload" method="POST" enctype="multipart/form-data" >
    <div id="main">
    <input name="file-<%= @transfer_id %>" id="file-<%= @transfer_id %>" type="file" onchange="uploadFile();" />
    <input type="button" name="action" value="Upload" onchange="uploadFile();"/>
    <input type="hidden" id="transfer_id" value="<%= @transfer_id %>" />    
    </div>
  </form>
  <iframe id='upload_iframe' name='upload_iframe' src="" scrolling="no" frameborder="0"></iframe>
  
  <div id="progress">
    <!--Status: <span id="number"></span> Uploaded to <span id="stored_file"></span>-->
    <div id="status"></div>
    <div id="stored_file"></div>
  </div>
  
  <form id="description_form" name="description_form" action="description" method="POST">
    <textarea id="description" rows="5" cols="52"></textarea>
    <input id="save" type="button" onclick="saveDescription()" value="save" />
  </form>
  
  <table id="description_respons">
    <tr>
      <th>Title</th>
      <td id="title_from_respons"></td>
    </tr>
    <tr>
      <th>Path</th>
      <td id="path_from_respons"></td>
    </tr>    
  </table>
  
  <div id="ajaxdiv"></div>

</body>