* {
  margin-bottom: 10px;
}

.error {
  color: red;
}

body {
  padding: 20px;
}

h1 {
  font-size: 24px;
  font-family: georgia, arial;
  font-weight: normal;
  padding-bottom: 10px;
}

iframe {
  display: none;
}
form {
  text-align: left;
  width: 420px;
}

div#errormsg {
  color: red;
  font-size: 120%;
}

div#progress div {
  margin-bottom: 10px;
}

div#progress div#stored_file {
  font-size:80%; 
}

form#description_form {
  display: none;
  margin: 20px 0px;
}

#description_respons {
  display: none;
}

#description_respons th {
  width: 50px;
  text-align:left;
  vertical-align:bottom;
  font-weight: bold;
}

#description_respons td {
  text-align:left;
}

#save {
  /*float: right;*/
}